@using WcfServiceProxy.Models
@model NetCoreWebApp.Models.ServicePayload

<div class="row">
    <div class="main-header">
        <h1>Data output</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="header-tile">
            <h3><i>PersonWcfService</i></h3>
        </div>

        <ul class="list-group">
            @foreach (var country in Model.Countries)
            {
            <li class="list-group-item">
                <h4>@country.Name</h4>
                <p>Country code: <i>@country.Code</i></p>
            </li>
            }
        </ul>

    </div>
    <div class="col-xs-6">
        <div class="header-tile">
            <h3><i>CountryWcfService</i></h3>
        </div>
        
        <ul class="list-group">
            @foreach (var person in Model.Persons)
            {
                <li class="list-group-item">
                    <h4>@person.FirstName @person.LastName</h4>
                    <p>Phone: <i>@person.Phone</i></p>
                    <p>Email: <i>@person.Email</i></p>
                    <p>Country code: <i>@person.CountryCode</i></p>
                </li>
            }
        </ul>
    </div>    
</div>
